{% extends 'base.html' %}

{% block content %}
    {% for ticket in object_list %}
        <div class="abonement">
            <h1>{{ ticket.type }}</h1>
            <h5>{{ ticket.type_day }}</h5>
            <p>Включає:</p>
            <ul>
                <li>Безлімітний доступ до тренажерного залу</li>
                <li>Душ</li>
            </ul>
            <p class="price">Вартість: {{ticket.price}} на місяць</p>
            <button class="add-to-cart"><a href="{% url 'basket_add' ticket.id %}">Додати в корзину</a></button>
        </div>

    {% endfor %}
{% endblock %}