.changelist-form-container {
  float: left;
}

.active {
  float: right;
}

.changelist-form-container {
  width: 60%;
  padding: 15px;
}

.active-ticket {
  width: 40%;
  padding: 15px;
}

.card-body{
  width: 600px;
}
