.coach-container{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 50px auto;
    padding: 20px;
    max-width: 1000px;
}


.coach-detail-container{
    align-content: center;

}

.coach-image{
    height: 350px;
    weight: 250px
}

.coach-image-container{
    float: left;
    margin: 10px;
}

.coach-image-container {
    float: left;
    width: 50%;
}

.coach-detail-container {
    margin-left: 20%;
}
