{% extends 'base.html' %}

{% block content %}

        {% for person in object_list %}

            <div class="coach-container">
                <h1>{{ person.user.last_name }} {{ person.user.first_name }}</h1>

                <a href="{% url 'coach_detail' person.slug%}" class="link-coach-image">
                    <img src="{{ person.image.url }}" alt="coach" class="coach-image">

                </a>

                <p class="price">Вартість: {{person.price_per_training}} UAH за тренування</p>
            </div>

        {% endfor %}


{% endblock %}